{% extends '::base.html.twig' %}

{% block body -%}

<div class="container-fluid">
    <div class="row">
        <div class="form col-xs-12 col-md-10">

    <h2>Editar tarea</h2>

    {{ form_start(edit_form) }}

    {{ form_label(edit_form.title) }}

    {{ form_widget(edit_form.title) }}

    {{ form_errors(edit_form.title) }}

    {{ form_label(edit_form.description) }}
    {{ form_widget(edit_form.description) }}
    {{ form_errors(edit_form.description) }}

    {{ form_label(edit_form.hours) }}
    {{ form_widget(edit_form.hours) }}
    {{ form_errors(edit_form.hours) }}

    {{ form_end(edit_form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}"><button type="button" class="btn btn-primary pull-left">
            Volver al listado
                </button>
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

        </div>
    </div>
</div>
{% endblock %}
