{% extends '::base.html.twig' %}

{% block body -%}

<div class="container-fluid">
    <div class="row">
        <div class="form col-xs-12 col-md-10">

    <h2>Nueva tarea</h2>
    {{ form_start(form) }}

    {{ form_label(form.title, 'Tarea') }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
<br/>
    {{ form_label(form.description, 'Descripción') }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
<br/>
    {{ form_label(form.hours, 'Horas empleadas') }}
    {{ form_widget(form.hours) }}
    {{ form_errors(form.hours) }}

    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}"><button type="button" class="btn btn-primary">
            Ver listado
                </button>
        </a>
    </li>
</ul>

        </div>
    </div>
</div>
{% endblock %}
