{% extends '::base.html.twig' %}
{% block body %}

    <div class="main main_login">

        <h4>Iniciar Sesiónaaaaa, o <a href="{{ url("fos_user_registration_register") }}">Crear cuenta</a></h4>


        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="inputUsernameEmail">Usuario o email</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required">
            </div>
            <div class="form-group">
                <a class="pull-right" href="#">Recuperar contraseña</a>
                <label for="inputPassword">Contraseña</label>
                <input type="password" id="password" name="_password" class="form-control" required="required">
            </div>
            <div class="checkbox pull-right">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    Recordar</label>
            </div>

            <input type="submit" class="btn btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        </form>

    </div>



{% endblock %}